html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1355px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  background: #f4f4f4;
  padding: 10px 0 9px;
}

.footer__wrapper {
  max-width: 1132px;
  margin: 0 auto;
}

.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__info-text, .header__info-contact, .header__info-tel {
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-right: 25px;
}

.header__info-tel {
  margin-left: 3px;
}

.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border-radius: 0px;
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  /* font: 14px/32px Arial, sans-serif; */
  /* color: #333; */
  text-shadow: none;
  border: none;
}

.jq-selectbox__select-text {
  display: block;
  width: 100%;
  color: crimson;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
}

.jq-selectbox__trigger {
  border-left: none;
  background-image: url("../img/icon/arrowDown.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.jq-selectbox__trigger-arrow {
  display: none;
}

.header-nav {
  border-bottom: 1px solid #e0e0e0;
}

.header-nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px 0px 24px;
}

.header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__link {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.header-nav__list-item + .header-nav__list-item {
  margin-left: 100px;
}

.header-nav__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-nav__location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #000000;
}

.header-nav__cart {
  margin-left: 50px;
}

.header-nav__location-img {
  margin-right: 10px;
}

.footer {
  background-color: #2b2b2b;
  -webkit-box-shadow: 0px 400px 0px #2b2b2b;
          box-shadow: 0px 400px 0px #2b2b2b;
  padding: 97px 0px 70px;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  margin-right: 69px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 340px;
}

.footer__box {
  width: 170px;
  min-height: 233px;
}

.footer__box-title {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 17px;
}

.footer__box-link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.5px;
  color: #ffffff;
  margin-bottom: 4px;
}

.footer__box-item {
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
  margin-bottom: 4px;
}

.footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__social-item + .footer__social-item {
  margin-left: 13px;
}

.footer__content {
  width: 417px;
  margin-left: auto;
  color: #ffffff;
}

.footer__content-title {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.5px;
  margin-bottom: 17px;
  padding-left: 48px;
}

.footer__content-subtitle {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 29px;
  padding-left: 48px;
}

.footer__content-input {
  display: block;
  width: 327px;
  margin-bottom: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 3px;
  margin-left: 48px;
}

.footer__content-select {
  display: block;
  margin-left: auto;
  margin-right: 42px;
  margin-bottom: 56px;
}

.footer__content-label {
  display: block;
  font-family: Roboto;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 75px;
}

.footer__signUp {
  font-family: Roboto;
  font-weight: 400;
  font-size: 14px;
  line-height: 60px;
  text-align: right;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: #ffffff;
}

.about {
  padding: 49px 0px 247px;
  font-family: Roboto, sans-serif;
}

.about__images {
  margin-bottom: 80px;
}

.about__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto 210px;
}

.about__info-title {
  max-width: 355px;
  margin-right: 136px;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #1a1a1a;
}

.about__info-text {
  max-width: 569px;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  color: #aaaaaa;
}

.about__cards {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  row-gap: 32px;
}

.about__cards-img {
  margin-bottom: 9px;
}

.about__cards-span {
  display: block;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #1a1a1a;
}

.brands {
  padding-bottom: 239px;
  font-family: Roboto, sans-serif;
  text-align: center;
}

.brands__title {
  font-weight: 400;
  font-size: 48px;
  line-height: 48px;
  color: #1a1a1a;
  margin-bottom: 27px;
}

.brands__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #4a4a4a;
  margin-bottom: 125px;
}

.brands__card {
  max-width: 1069px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 49px;
}

.brands__card-link {
  display: block;
  margin: 0 auto;
  -ms-flex-preferred-size: 16%;
      flex-basis: 16%;
}

.slider {
  padding-bottom: 119px;
}

.slider__box {
  -webkit-transition: all 0.6s cubic-bezier(0.93, 0.4, 0.36, 0.29);
  transition: all 0.6s cubic-bezier(0.93, 0.4, 0.36, 0.29);
  margin: 0 auto;
  opacity: 0.4;
}

.slider__box > img {
  width: 1344px;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 24px;
}

.slick-dots .slick-active {
  padding: 0px;
}

.slick-dots li button {
  font-size: 0;
  display: block;
  padding: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  background: #e5e5e5;
  border-radius: 50%;
  margin-right: 12px;
}

.slick-dots li.slick-active button {
  background: #46856e;
}

.slick-active {
  padding: 20px 0;
}

.slick-initialized .slick-slide {
  display: block;
  position: relative;
}

.slider__box.slick-center {
  opacity: 1;
  z-index: 55;
  margin: 0 auto;
  -webkit-transform: scale(1.08);
          transform: scale(1.08);
}

.slick-slide:not(.slick-active) {
  margin: 20px 0;
  z-index: 0;
}

button.slick-prev.slick-arrow {
  border: none;
  background-color: inherit;
  position: absolute;
  -webkit-transform: translate(100px, 245px);
          transform: translate(100px, 245px);
  z-index: 111;
  cursor: pointer;
}

button.slick-next.slick-arrow {
  border: none;
  background-color: inherit;
  position: absolute;
  -webkit-transform: translate(1170px, -381px);
          transform: translate(1170px, -381px);
  z-index: 111;
  cursor: pointer;
}

.product {
  padding-bottom: 240px;
}

.product__inner {
  max-width: 1090px;
  margin: 0 auto;
  font-style: Roboto, sans-serif;
}

.product__text {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #1a1a1a;
  margin-bottom: 24px;
}

.product__span {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #46856e;
  margin-bottom: 71px;
}

.product-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Roboto, sans-serif;
}

.product-box__card-img {
  margin: 0 auto 52px;
}

.product-box__card-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #1a1a1a;
  margin-bottom: 18px;
}

.product-box__card-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #aaaaaa;
}

.review {
  padding-bottom: 240px;
}

.review-inner {
  background-image: url("../img/review/bg.png");
  padding: 120px 0;
}

.review-inner__wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 125px;
}

.review-inner__card {
  margin-bottom: 39px;
  width: 228px;
}

.review-inner__card-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 7px;
  margin-bottom: 8px;
}

.review-inner__link {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 12px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #ffffff;
}

.work {
  padding-bottom: 224px;
  font-family: Roboto, sans-serif;
}

.work__inner {
  max-width: 882px;
  margin: 0 auto 135px;
  font-size: 46px;
  line-height: 52px;
}

.work__inner-text {
  font-weight: 400;
  color: #aaaaaa;
  margin-bottom: 25px;
}

.work__inner-title {
  font-weight: 400;
  color: #000000;
}

.work-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  margin: 0 auto 64px;
  font-family: Roboto;
}

.work-card__box {
  width: 311px;
  padding-left: 90px;
}

.work-card__box-title {
  font-weight: 400;
  font-size: 32px;
  line-height: 36px;
  color: #1a1a1a;
  margin-bottom: 27px;
}

.work-card__box-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #aaaaaa;
}

.travel {
  padding: 167px 0 79px;
}

.travel-inner {
  max-width: 1200px;
  margin: 0 auto;
  background: #f2f2f2;
  border-radius: 2px;
  padding: 63px 0 26px;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.travel-inner__title {
  font-style: normal;
  font-weight: normal;
  font-size: 46px;
  line-height: 51px;
  color: #000000;
  margin-bottom: 65px;
}

.travel-inner__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 66px;
          column-gap: 66px;
  margin-bottom: 70px;
}

.travel-inner__cards-card > img {
  min-height: 64px;
  margin: 0 auto 22px;
}

.travel-inner__cards-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  color: #1a1a1a;
}

.travel-inner__btn {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ffffff;
  background: #46856e;
  border: none;
  border-radius: 2px;
  padding: 5px 24px;
  cursor: pointer;
  margin-bottom: 21px;
}

.travel-inner__link {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #aaaaaa;
}

@media (max-width: 375px) {
  .header {
    padding: 10px 0;
  }
  .header__info-text, .header__info-contact, .header__info-tel {
    font-size: 13px;
    margin-right: 11px;
  }
  .header .jq-selectbox__select {
    padding: 0 30px 0 10px;
  }
  .header .jq-selectbox li {
    min-height: 35px;
    padding: 5px 8px 5px;
    color: #1b1a3e;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 3px;
    -webkit-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
  }
  .header .jq-selectbox li:hover {
    background-color: #8b8bd6;
    color: #fff;
  }
  .header-nav__inner {
    padding: 15px 0px 15px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header-nav__info {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header-nav .header__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .header-nav__list-item + .header-nav__list-item {
    margin-left: 50px;
  }
  .header-nav__link {
    font-size: 16px;
  }
  .header-nav__cart {
    margin-left: 20px;
  }
  .about {
    padding: 40px 0px;
  }
  .about__images {
    margin-bottom: 40px;
  }
  .about__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 35px;
  }
  .about__info-title {
    margin-right: 0px;
    font-size: 36px;
    width: 100%;
    margin-bottom: 20px;
    line-height: 48px;
  }
  .brands {
    padding: 25px 0;
  }
  .brands__title {
    font-size: 45px;
    line-height: 47px;
    margin-bottom: 22px;
  }
  .brands__text {
    margin-bottom: 50px;
  }
  .brands__card {
    row-gap: 40px;
    -webkit-column-gap: 2px;
            column-gap: 2px;
  }
  .brands__card-link {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
  }
  .slider {
    padding-bottom: 20px;
  }
  .product {
    padding: 20px 0;
  }
  .product__text {
    font-size: 34px;
    line-height: 43px;
    margin-bottom: 25px;
  }
  .product__span {
    margin-bottom: 25px;
  }
  .product-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .product-box__card {
    margin-bottom: 10px;
  }
  .product-box__card-img {
    margin: 0 auto 30px;
  }
  .review {
    padding-bottom: 0;
  }
  .review-inner {
    padding: 20px 0;
    margin-left: -15px;
    margin-right: -15px;
    background-position: top;
    background-size: cover;
  }
  .review-inner__wrapper {
    padding-left: 40px;
  }
  .review-inner__card-text {
    font-size: 18px;
    line-height: 29px;
    color: #6b3232;
  }
  .work {
    padding: 20px 0;
  }
  .work__inner {
    margin: 0 auto 20px;
    font-size: 27px;
    line-height: 40px;
  }
  .work-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto 50px;
  }
  .work-card__box {
    width: 100%;
    padding-left: 0;
    padding-top: 15px;
  }
  .work-card__box:nth-child(2) {
    padding-left: 0;
  }
  .travel {
    padding: 20px 0px;
  }
  .travel-inner {
    padding: 20px 0px;
    margin-left: -15px;
    margin-right: -15px;
  }
  .travel-inner__title {
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 45px;
  }
  .travel-inner__cards {
    -webkit-column-gap: 42px;
            column-gap: 42px;
    margin-bottom: 40px;
  }
  .travel-inner__btn {
    font-size: 18px;
    line-height: 45px;
    padding: 5px 21px;
  }
  .slider {
    display: none;
  }
  .footer {
    padding: 20px 0px;
  }
  .footer__wrapper {
    width: 100%;
  }
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__logo {
    margin-right: 0px;
    margin-bottom: 30px;
  }
  .footer__content {
    width: 100%;
  }
  .footer__content-title {
    padding-left: 0px;
  }
  .footer__content-subtitle {
    padding-left: 0px;
  }
  .footer__content-input {
    margin-left: 0px;
    padding: 10px;
  }
  .footer__content-select {
    margin-left: 0px;
    margin-bottom: 40px;
    margin-right: 0;
  }
  .footer__content-label {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.4px;
    margin-bottom: 30px;
  }
  .footer .jq-selectbox__select {
    padding: 0 40px 0 0px;
  }
  .footer .jq-selectbox__select-text {
    font-size: 14px;
    line-height: 38px;
    letter-spacing: 1px;
    color: aliceblue;
  }
}
/*# sourceMappingURL=style.css.map */