@import "reset";
@import "global";
@import "vars";

.header {
  &__info {
    display: flex;
    justify-content: flex-end;
  }
  &__info-text,
  &__info-contact,
  &__info-tel {
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $title;
    margin-right: 25px;
  }
  &__info-tel {
    margin-left: 3px;
  }
}
.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border-radius: 0px;
  background: none;
  box-shadow: none;
  /* font: 14px/32px Arial, sans-serif; */
  /* color: #333; */
  text-shadow: none;
  border: none;
}
.jq-selectbox__select-text {
  display: block;
  width: 100%;
  color: crimson;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
}
.jq-selectbox__trigger {
  border-left: none;
  background-image: url("../img/icon/arrowDown.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.jq-selectbox__trigger-arrow {
  display: none;
}

.header-nav {
  border-bottom: 1px solid #e0e0e0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 24px;
  }
  &__list {
    display: flex;
  }
  &__link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $linkTitle;
  }
  &__list-item + .header-nav__list-item {
    margin-left: 100px;
  }
  &__info {
    display: flex;
  }
  &__location {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $linkTitle;
  }
  &__cart {
    margin-left: 50px;
  }
  &__location-img {
    margin-right: 10px;
  }
}
.footer {
  background-color: #2b2b2b;
  box-shadow: 0px 400px 0px #2b2b2b;
  padding: 97px 0px 70px;
  &__inner {
    display: flex;
  }
  &__logo {
    margin-right: 69px;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
  }
  &__box {
    width: 170px;
    min-height: 233px;
  }
  &__box-title {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 17px;
  }
  &__box-link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 4px;
  }
  &__box-item {
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    margin-bottom: 4px;
  }
  &__social-list {
    display: flex;
  }
  &__social-item + .footer__social-item {
    margin-left: 13px;
  }
  &__content {
    width: 417px;
    margin-left: auto;
    color: #ffffff;
  }
  &__content-title {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.5px;
    margin-bottom: 17px;
    padding-left: 48px;
  }
  &__content-subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 29px;
    padding-left: 48px;
  }
  &__content-input {
    display: block;
    width: 327px;
    margin-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    margin-left: 48px;
  }
  &__content-select {
    display: block;
    margin-left: auto;
    margin-right: 42px;
    margin-bottom: 56px;
  }
  &__content-label {
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 75px;
  }
  &__signUp {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 60px;
    text-align: right;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.about {
  padding: 49px 0px 247px;
  font-family: Roboto, sans-serif;
  &__images {
    margin-bottom: 80px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 210px;
  }
  &__info-title {
    max-width: 355px;
    margin-right: 136px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1a1a1a;
  }
  &__info-text {
    max-width: 569px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #aaaaaa;
  }
  &__cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
  }
  &__cards-img {
    margin-bottom: 9px;
  }
  &__cards-span {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1a1a1a;
  }
}
.brands {
  padding-bottom: 239px;
  font-family: Roboto, sans-serif;
  text-align: center;
  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #1a1a1a;
    margin-bottom: 27px;
  }
  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #4a4a4a;
    margin-bottom: 125px;
  }
  &__card {
    max-width: 1069px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 49px;
  }
  &__card-link {
    display: block;
    margin: 0 auto;
    flex-basis: 16%;
  }
}
.slider {
  padding-bottom: 119px;
  &__box {
    transition: all 0.6s cubic-bezier(0.93, 0.4, 0.36, 0.29);
    margin: 0 auto;
    opacity: 0.4;
  }
  &__box > img {
    width: 1344px;
  }
}
.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}
.slick-dots .slick-active {
  padding: 0px;
}
.slick-dots li button {
  font-size: 0;
  display: block;
  padding: 0px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 12px;
  height: 12px;
  background: #e5e5e5;
  border-radius: 50%;
  margin-right: 12px;
}
.slick-dots li.slick-active button {
  background: #46856e;
}
.slick-active {
  padding: 20px 0;
}
.slick-initialized .slick-slide {
  display: block;
  position: relative;
}
.slider__box.slick-center {
  opacity: 1;
  z-index: 55;
  margin: 0 auto;
  transform: scale(1.08);
}
.slick-slide:not(.slick-active) {
  margin: 20px 0;
  z-index: 0;
}
button.slick-prev.slick-arrow {
  border: none;
  background-color: inherit;
  position: absolute;
  transform: translate(100px, 245px);
  z-index: 111;
  cursor: pointer;
}
button.slick-next.slick-arrow {
  border: none;
  background-color: inherit;
  position: absolute;
  transform: translate(1170px, -381px);
  z-index: 111;
  cursor: pointer;
}
.product {
  padding-bottom: 240px;
  &__inner {
    max-width: 1090px;
    margin: 0 auto;
    font-style: Roboto, sans-serif;
  }
  &__text {
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
    color: #1a1a1a;
    margin-bottom: 24px;
  }
  &__span {
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #46856e;
    margin-bottom: 71px;
  }
}
.product-box {
  display: flex;
  font-family: Roboto, sans-serif;
  &__card-img {
    margin: 0 auto 52px;
  }
  &__card-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #1a1a1a;
    margin-bottom: 18px;
  }
  &__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #aaaaaa;
  }
}
.review {
  padding-bottom: 240px;
}
.review-inner {
  background-image: url("../img/review/bg.png");
  padding: 120px 0;
  &__wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 125px;
  }
  &__card {
    margin-bottom: 39px;
    width: 228px;
  }
  &__card-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    color: #ffffff;
    margin-top: 7px;
    margin-bottom: 8px;
  }
  &__link {
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 12px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.work {
  padding-bottom: 224px;
  font-family: Roboto, sans-serif;
  &__inner {
    max-width: 882px;
    margin: 0 auto 135px;
    font-size: 46px;
    line-height: 52px;
  }
  &__inner-text {
    font-weight: 400;
    color: $title;
    margin-bottom: 25px;
  }
  &__inner-title {
    font-weight: 400;
    color: #000000;
  }
}
.work-card {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto 64px;
  font-family: Roboto;
  &__box {
    width: 311px;
    padding-left: 90px;
  }
  &__box-title {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #1a1a1a;
    margin-bottom: 27px;
  }
  &__box-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #aaaaaa;
  }
}
.travel {
  padding: 167px 0 79px;
}
.travel-inner {
  max-width: 1200px;
  margin: 0 auto;
  background: #f2f2f2;
  border-radius: 2px;
  padding: 63px 0 26px;
  text-align: center;
  font-family: Roboto, sans-serif;
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 46px;
    line-height: 51px;
    color: #000000;
    margin-bottom: 65px;
  }
  &__cards {
    display: flex;
    justify-content: center;
    column-gap: 66px;
    margin-bottom: 70px;
  }
  &__cards-card > img {
    min-height: 64px;
    margin: 0 auto 22px;
  }
  &__cards-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #1a1a1a;
  }
  &__btn {
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    background: #46856e;
    border: none;
    border-radius: 2px;
    padding: 5px 24px;
    cursor: pointer;
    margin-bottom: 21px;
  }
  &__link {
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #aaaaaa;
  }
}
@import "media";
