@import "reset";
@import "global";
@import "vars";

.header {
  &__info {
    display: flex;
    justify-content: flex-end;
  }
  &__info-text,
  &__info-contact,
  &__info-tel {
    font-size: 12px;
    line-height: 33px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $title;
    margin-right: 25px;
  }
  &__info-tel {
    margin-left: 3px;
  }
}
.jq-selectbox__select {
  height: 32px;
  padding: 0 45px 0 10px;
  border-radius: 0px;
  background: none;
  box-shadow: none;
  /* font: 14px/32px Arial, sans-serif; */
  /* color: #333; */
  text-shadow: none;
  border: none;
}
.jq-selectbox__select-text {
  display: block;
  width: 100%;
  color: crimson;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 33px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #aaaaaa;
}
.jq-selectbox__trigger {
  border-left: none;
  background-image: url("../img/icon/arrowDown.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}
.jq-selectbox__trigger-arrow {
  display: none;
}

.header-nav {
  border-bottom: 1px solid #e0e0e0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px 24px;
  }
  &__list {
    display: flex;
  }
  &__link {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $linkTitle;
  }
  &__list-item + .header-nav__list-item {
    margin-left: 100px;
  }
  &__info {
    display: flex;
  }
  &__location {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $linkTitle;
  }
  &__cart {
    margin-left: 50px;
  }
  &__location-img {
    margin-right: 10px;
  }
}
.footer {
  background-color: #2b2b2b;
  box-shadow: 0px 400px 0px #2b2b2b;
  padding: 97px 0px 70px;
  &__inner {
    display: flex;
  }
  &__logo {
    margin-right: 69px;
  }
  &__info {
    display: flex;
    flex-wrap: wrap;
    width: 340px;
  }
  &__box {
    width: 170px;
    min-height: 233px;
  }
  &__box-title {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 17px;
  }
  &__box-link {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 4px;
  }
  &__box-item {
    font-size: 13px;
    line-height: 15px;
    color: #ffffff;
    margin-bottom: 4px;
  }
  &__social-list {
    display: flex;
  }
  &__social-item + .footer__social-item {
    margin-left: 13px;
  }
  &__content {
    width: 417px;
    margin-left: auto;
    color: #ffffff;
  }
  &__content-title {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.5px;
    margin-bottom: 17px;
    padding-left: 48px;
  }
  &__content-subtitle {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 29px;
    padding-left: 48px;
  }
  &__content-input {
    display: block;
    width: 327px;
    margin-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 3px;
    margin-left: 48px;
  }
  &__content-select {
    display: block;
    margin-left: auto;
    margin-right: 42px;
    margin-bottom: 56px;
  }
  &__content-label {
    display: block;
    font-family: Roboto;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 2.4px;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 75px;
  }
  &__signUp {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 60px;
    text-align: right;
    letter-spacing: 2.3px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.about {
  padding: 49px 0px 247px;
  font-family: Roboto, sans-serif;
  &__images {
    margin-bottom: 80px;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 210px;
  }
  &__info-title {
    max-width: 355px;
    margin-right: 136px;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1a1a1a;
  }
  &__info-text {
    max-width: 569px;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    color: #aaaaaa;
  }
  &__cards {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;
  }
  &__cards-img {
    margin-bottom: 9px;
  }
  &__cards-span {
    display: block;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1a1a1a;
  }
}
.brands {
  padding-bottom: 239px;
  font-family: Roboto, sans-serif;
  text-align: center;
  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #1a1a1a;
    margin-bottom: 27px;
  }
  &__text {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #4a4a4a;
    margin-bottom: 125px;
  }
  &__card{
    max-width: 1069px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 49px;
  }
  &__card-link{
    display: block;
    margin: 0 auto;
    flex-basis: 16%;
    background-color: crimson;
  }
}
@import "media";
